h1 {
    text-align: left;
    color: #fa8e47;
}

.one {
    color: #fa8e47;
}

.statistic{
    background-color: azure;
}

td {
    border: 3px solid black;
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}