#container {
    text-align: left;
    margin: 10px;
    background-color:paleturquoise;
    /*position: absolute;*/
    left: 15%;
}

#tab {
    width: 70%;
    text-align: left;
    background: #f5f5dc;
}

h1 {
    text-align: left;
    color: #fa8e47;
    /*padding: 10px;*/
    margin: 10px;
}

h2 {
    color: red;
    padding: 2px;
    margin: 2px;
}

.form-group {
    background: #f5f5dc;
    margin: 1px;
    border: 4mm ridge rgba(211, 220, 50, .6);
    width: 70%;
    text-indent: 1%;
}

#alert {
    width: 70%;
}

.one {
    color: #fa8e47;
    font-size: 150%;
}

.second {
    color: red;
    font-size: 150%;
}

.statistic {
    background-color: azure;
    width: 70%;
    text-indent: 10px;
}

.message {
    background: #f5f5dc;
    /*border: 4mm ridge rgba(211, 220, 50, .6);*/
    width: 70%;
    text-indent: 2%;
}
.text{
    margin-left:1%;
    margin-bottom:0.2%;
    margin-top: 0.2%;
}

/*
td {
    border: 3px solid black;
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}*/
