#container {
    text-align: left;
    /*padding: 10px;*/
    margin: 10px;
}

h1 {
    text-align: left;
    color: #fa8e47;
    /*padding: 10px;*/
    margin: 10px;
}

h2 {
    color: red;
    padding: 2px;
    margin: 2px;
}

.form-group {
    background: #f5f5dc;
    margin: 1px;
    border: 4mm ridge rgba(211, 220, 50, .6);
    width: 70%;
    /*padding: 5px;*/
}

#alert {
    width: 70%;
}


.one {
    color: #fa8e47;
    font-size: 150%;
}

.second {
    color: red;
    font-size: 150%;
}

.statistic {
    background-color: azure;
    width: 70%;
}

/*
td {
    border: 3px solid black;
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}*/
